* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height:100%;
}

html, body {
    font-family: Monda, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $default-text;
    height: 100%;
}

.outer-container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: $off-white;
    margin: auto;
    height: 100%;
    width: 100%;
}