.header-container {
    flex: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 0 25%;
    padding-top: 10px;
    background-color: #24292e;
}

.header-name {
    font-family: Monda;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 0;
}

.header-nav {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: $light-text;
}

.header a:visited {
    color: $light-text;
}

.header a:hover{
    color: $hover-link;
}

.header-logo-bright, .header-logo-dark {
    max-height: 25px;
    width: auto;
}

.header-logo-bright:hover {
    -webkit-filter: brightness(2);
   filter: brightness(2);
}

.header-logo-dark:hover {
    -webkit-filter: brightness(0.7);
   filter: brightness(0.7);
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    color: $default-text;
    font-family: Monda;
    display: inline;
    margin-top: 15px;
    padding: 0 15px 0 15px;
}


