.introduction-container{
    text-align: center;
    margin: 0;
    color: black;
}

.introduction-header {
    margin: 20px;
}

.introduction-text {
    margin: auto;
    margin-bottom: 20px;
    width: 65%;
}