.portfolio-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.portfolio-cards-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    margin: auto;
}

.project-card-container {
    flex: 1 1 auto;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    min-width: 700px;
    padding: 20px 20px;
    border: 2px solid #555;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px #555;
}

.portfolio-filters-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-filters-category {
    font-size: 20px;
}

.portfolio-filters-category-group {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.portfolio-filters-button-group {
    display: flex;
}

.portfolio-filters-button {
    border: 1px solid $blue;
    padding: 5px 5px;
    background-color: $off-white;
    flex: 1 1 auto;
}

.portfolio-filters-button:hover {
    color: white;
    background-color: $blue;
}

.filter-button-active {
    color: white;
    background-color: $dark-blue;
}

.project-title {
    font-size: 25px;
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 2px solid #555;
}

.project-tech-container {
    display: flex;
    flex: 0 0 100%;
    border-bottom: 2px solid #555;
    margin-bottom: 10px;
}

.project-tech-text {
    margin: auto;
}

.project-img-container {
    flex: 1 1 50%;
    margin-top: 10px;
}

.project-img {
    max-width: 100%;
    max-height: 200px;
    border: 10px solid #555;
    border-radius: 5px;
}

.project-text-container {
    flex: 1 1 45%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.project-description {
    font-size: 16px;
}

.project-link {
    text-decoration: none;
    color: $blue;
    border: 1px solid $blue;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.project-link:hover {
    color: white;
    background-color: $blue;
}