.portfolio-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
}


.project-card-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    min-width: 768px;
}

.project-title {
    font-size: 25px;
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 2px solid #555;
}

.project-tech-container {
    display: flex;
    flex: 0 0 100%;
    border-bottom: 2px solid #555;
    margin-bottom: 10px;
}

.project-tech-text {
    margin: auto;
}

.project-img-container {
    flex: 1 1 50%;
    margin-top: 10px;
}

.project-img {
    max-width: 100%;
    max-height: 200px;
    border: 10px solid #555;
    border-radius: 5px;
}

.project-text-container {
    flex: 1 1 45%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.project-description {
    font-size: 16px;
}

.project-link {
    text-decoration: none;
    color: $blue;
    border: 1px solid $blue;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.project-link:hover {
    color: white;
    background-color: $blue;
}