.project-sidebar-timeline-container {
    margin: 10px 0px;
}

.project-sidebar-tech-container {
    margin: 10px 0px;
}

.project-sidebar-demo-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.project-sidebar-code-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

