.portfolio-detail-container {
    display: flex;
    flex-direction: column;
}


.project-detail-card-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    min-width: 85%;
}

.project-detail-title {
    font-size: 25px;
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 2px solid #555;
}

.project-detail-tech-container {
    display: flex;
    flex: 0 0 100%;
    border-bottom: 2px solid #555;
    margin-bottom: 10px;
}

.project-detail-tech-text {
    margin: auto;
}

.project-detail-img-container {
    flex: 1 1 50%;
    margin-top: 10px;
}

.project-detail-img {
    margin: auto;
    max-width: 100%;
    border: 10px solid #555;
    border-radius: 5px;
}

.project-detail-text-container {
    flex: 1 1 45%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.project-detail-description {
    font-size: 16px;
}

.project-detail-link {
    text-decoration: none;
    color: rgb(8, 87, 139);
    border: 1px solid rgb(8, 87, 139);
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.project-detail-link:hover {
    color: white;
    background-color: rgb(8, 87, 139);
}