.project-detail-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    width: $max-width-default + 200px;
    margin: auto;
}

.project-sidebar-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: $blue;
    color: $off-white;
    margin-right: 50px;
    padding: 15px;
}

.project-main-container {
    flex: 1 1 auto;
}

.project-detail-card-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    min-width: 85%;
}

.project-detail-title {
    font-size: 40px;
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 2px solid #555;
}

.project-detail-img-container {
    flex: 1 1 50%;
    margin-top: 10px;
}

.project-detail-img {
    margin: auto;
    max-width: 100%;
    border: 10px solid #555;
    border-radius: 5px;
}

.project-detail-text-container {
    flex: 1 1 45%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.project-detail-text-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.project-detail-description {
    font-size: 16px;
}

.project-detail-link {
    text-decoration: none;
    color: rgb(5, 5, 5);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255,255,255);
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.project-detail-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}